.cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
}

.img{
    height: 200px;
    width: 200px;
}

.btn{
    margin-bottom: 40px;
}